.wrapper {
  position: relative;
  background-image: url('/fondo.jpg'); /* Asegúrate de que la ruta es correcta */
  background-size: cover;
  text-align: center;
  color: #000;
  padding-top: 22px;
  padding-bottom: 68px;
  z-index: 24;
}

.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100px; /* Controla el área difuminada */
  pointer-events: none; /* Evita interferencias con la interactividad */
}

.wrapper::before {
  top: 0;
  background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));

}

.wrapper::after {
  bottom: 0;
  background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
  
}

.imageContainer {
  position: relative;
  width: 127vh;
  height: 352px;
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
}
.mapContainer {
  position: relative; /* Necesario para que layout='fill' funcione correctamente */
  width: 100%; /* Ajusta según necesidades */
  height: 400px; /* Ajusta según necesidades */
}

/* La clase .responsiveImage es opcional y solo necesaria si deseas aplicar estilos directamente a la imagen de Next.js */

.title1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  margin-top: 60px;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 60px;
  margin-left: 15%; /* Ajusta según la necesidad */
  margin-right: 15%; /* Ajusta según la necesidad */

}


.description {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.button, .closeButton {
  background-color: #A89D12; /* Color dorado para el botón */
  color: #fff;
  border: none;
  padding: 10px 36px;
  font-size: 1.9rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover, .closeButton:hover {
  background-color: #b98c1e;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 8px;
  z-index: 10;
}

.modalText {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}


@media (max-width: 1000px) {
  .imageContainer {
    width: 93%;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .imageContainer {
    width: 93%;
    height: 180px;
  }

  .title1 {
    font-size: 2.5rem;

  }
  
.title {
  font-size: 1rem;
  font-weight: bold;
  margin: 24px;
}
}