/* src/app/components/boda/boda.module.css */

.container {
 font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-size: cover;
  z-index: 22;
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 15px;

}

.invitationSection {
  flex: 1;
  min-width: 300px;
  max-width: 600px; /* Aumento para mejor presentación en pantallas grandes */
  background-color: rgba(255, 255, 255, 0.95); /* Mayor opacidad para mejorar la legibilidad */
  padding: 50px; /* Más espacio interior */
  border-radius: 20px; /* Bordes más redondeados */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Sombra más suave */
  margin: 20px;
  text-align: center; /* Centrado de texto */
}

.countdownSection h1, .countdownSectionp {
  
  color: #A89D12; /* Color más oscuro para mejor contraste */
}

.countdownSection h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem; /* Título más grande */
  font-weight: 300; /* Más ligero */
  margin-bottom: 30px;
  line-height: 1.5; /* Espaciado de línea aumentado */


}

.countdownSection p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem; /* Texto más grande */
  margin-bottom: 40px;
  line-height: 1.8; /* Espaciado de línea aumentado */





}

.countdown {
  display: flex;
  gap: 25px; /* Mayor espacio entre elementos */
  justify-content: center;
  background-color: rgba(245, 245, 245, 1); /* Fondo sólido para diferenciar de la sección */
  padding: 25px;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

.countdownItem {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px; /* Más espacio */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

.countdownTime {
  font-size: 2.5rem; /* Números más grandes */
  color: #A89D12; /* Color mantenimiento para un toque elegante */
  font-weight: bold;
}

.countdownLabel {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem; /* Etiquetas más grandes */
  color: #666; /* Color más suave */
}

.calendarContainer {
  
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el calendario */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Sombra más suave */
}




@media (max-width: 1100px) {
  .countdown {
    display: ruby-text;

    padding: 15px;

  }

}


@media (max-width: 768px) {
  .calendarContainer {
    display:none;
     }
  .countdown {
    display: ruby-text; 
  }

  .calendarContainer {
    padding:0px;
  }

  .countdownItem {
    padding: 10px; 
    margin:2px/* Ajuste para dispositivos más pequeños */
  }

  .invitationSection, .calendarContainer {
    max-width: 90%;
  }

  .countdownSection h1 {
    font-size: 2rem;
    font-weight: 600;
/* centrar texto*/
    text-align: center;
  
  }
  
  .countdownSection p {
    font-size: 1.4rem; /* Texto más grande */
    margin-bottom: 40px;
    line-height: 1.8; /* Espaciado de línea aumentado */
    text-align: center;

  
  }



}

@media (max-width: 480px) {

  .invitationContent h1 {
    font-size: 2.5rem;
  }

  .invitationContent p {
    font-size: 1.3rem;
  }

  .countdownTime, .countdownLabel {
    font-size: 2rem; /* Ajuste para dispositivos más pequeños */
  }
}
