
/* Contenedor principal */



.container {
    position: relative;
    height: 107vh;
    width: 100%;
    margin-bottom: 9%;
    /* fondo blanco */
 

}

/* Estilos para las imágenes de fondo */
.image-bw, .image-color {
    position: absolute;
    top: 10px;
    left: 0;
    width: 90%;
    transform: translateX(6%);
    height: 100vh;
    transition: opacity 0.6s ease-in-out;
    z-index: 1; /* Asegura que la imagen en blanco y negro esté detrás de la a color */
}

.image-color {
    z-index: 2; /* Asegura que la imagen a color esté encima de la en blanco y negro, inicialmente oculta */
    opacity: 0;
}
.texto-contenido {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    width: 100%;
    max-width: 600px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.75) 100%);
    border-radius: 0px;
    z-index: 2;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
}

.tituloPrincipal {

    font-size: 3.5rem; /* Un tamaño más grande para hacer el título principal más imponente */
    color: #A89D12;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1); /* Sombra sutil para dar profundidad sin restar elegancia */
    margin-top:35px
   
}
.subtitulo {
    font-family: 'Playfair Display', serif; /* Mantenemos la misma familia de fuentes para coherencia */
    font-size: 2.5rem; /* Un tamaño que complementa el título sin competir por la atención */
    color: #000000; /* Un tono morado suave que añade un contraste delicado */
    font-weight: 500; /* Peso de la fuente moderado para equilibrar la jerarquía visual */
    margin-top: 10px;
    margin-bottom: 35px;
   
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


/* Estilos para el anuncio de texto */
.texto-anuncio {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    text-align: center;
    max-width: 803px;
    height: 232px;
    margin: auto;
    padding: 20px;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, top 1s ease-in-out;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
 
    z-index: 3;
    overflow: hidden; /* Importante para mantener el degradado dentro de los bordes */
}




/* Estilos para las decoraciones */
.decoracion-izquierda, .decoracion-derecha {
    flex: 0 0 80px;
    position: relative;
    height: 124%;
    width: 130px;
    transition: transform 1s ease-in-out;
    overflow: hidden; /* Previene que el degradado se extienda fuera del contenedor */
}

.decoracion-izquierda::after, .decoracion-derecha::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    mix-blend-mode: screen;
}

/* Estilos para los títulos y texto */
.texto-anuncio h1, .texto-anuncio h2, .texto-anuncio p {
    font-family: 'Higuen', sans-serif;
}

.texto-anuncio h1 {
    font-size: 3rem;
    font-weight: bold;
}

.texto-anuncio h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.texto-anuncio p {
    font-size: 1.8rem;
    font-weight: normal;
}



/*mirar planta*/

.planta {
    position: fixed;
    right: 0;
    top: 64%;
    transform: translateY(-50%);
 
    animation: primera_sway__0GD05 3s ease-in-out infinite;
 
    z-index: 50;
   
}

.plantaGeneral {
    position: fixed;
    top: 80px;
   
    animation: sway 2s ease-in-out infinite;

    
    z-index: 50;
    /* trasparencia */
    opacity: 0.7;
   
}



.plantaArribaDerecha {
    right: 0;
    top: 40;
    transform: translateY(0%);
    /* rotar 90% */
    transform: rotateZ(45deg);
    
}

.plantaCentroIzquierda {
    left: 0;
    top: 60%;
    transform: translateY(0%);
}

.plantaAbajoIzquierda {
    left: 0;
    bottom: 0;
    transform: translateY(0%);
}

@keyframes sway {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(1deg);
    }
}

.imageBw, .imageColor {
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
}




@keyframes primera_sway__0GD05 {
    0%, 100% {
        transform: translateY(-50%) rotate(0deg);
    }
    50% {
        transform: translateY(-50%) rotate(3deg);
    }
}
/* Ajustes para dispositivos más pequeños */

@media (max-width: 1200px) {

    .decoracion-izquierda, .decoracion-derecha {
        flex: 0 0 80px;
        position: relative;
        height: 83%;
        width: 130px;
        transition: transform 2s ease-in-out;
        overflow: hidden; /* Previene que el degradado se extienda fuera del contenedor */
    }

    .texto-anuncio {
        max-width: 564px;
        height: 292px;
    }


    .texto-anuncio h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .texto-anuncio h2 {
        font-size: 1.9rem;
        font-weight: bold;
    }

}


@media (max-width: 900px) {



    .planta {
    
        width: 70px;
        height: 50px;
        z-index: 24;
        top: 75%;
    }

    .plantaGeneral {
      
        top: 120px;
        width: 80px;
        height: 70px;
        z-index: 24;
    }

    .plantaCentroIzquierda {
        left: 0;
        top: 70%;
        transform: translateY(-50%);
    }


    .texto-anuncio h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .texto-anuncio h2 {
        font-size: 1.9rem;
        font-weight: bold;
    }

    .container {
        height: 50vh;
      
    }
    .texto-anuncio {
        flex-direction: row; /* Cambiado para mejorar la disposición en pantallas más pequeñas */
        width: 96%;
        padding: 0px;
        top:43%
    }
    .image-bw, .image-color {
        height: 40vh; /* Ajuste de altura para pantallas más pequeñas */
        margin-top: 50px;
    }
    .texto-anuncio h1, .texto-anuncio h2, .texto-anuncio p {
        font-size: reducido según el dispositivo; /* Ajustes específicos más abajo */
    }
    .decoracion-izquierda, .decoracion-derecha {
        flex: 0 0 50px;
        width: 50px;
        height: 50%;
    }
}

@media (max-width: 480px) {
    .texto-anuncio {
        padding: 10px;
    }
    .image-bw, .image-color {
        height: 30vh; /* Ajuste de altura para dispositivos muy pequeños */
    }
    .texto-anuncio h1 {
        font-size: 1.5rem;
    }
    .texto-anuncio h2 {
        font-size: 1.2rem;
    }
    .texto-anuncio p {
        font-size: 1rem;
    }
    .decoracion-izquierda, .decoracion-derecha {
      
        width: 30px;
    }
}
