/* Importación de fuentes */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&display=swap'); */

/* Contenedor principal */
.container {
    position: relative;
    height: 107vh;
    width: 100%;
    margin-bottom: 9%;
    /* fondo blanco */
 

}

/* Estilos para las imágenes de fondo */
.image-bw, .image-color {
    position: absolute;
    top: 10px;
    left: 0;
    width: 90%;
    transform: translateX(6%);
    height: 100vh;
    transition: opacity 0.6s ease-in-out;
    z-index: 1; /* Asegura que la imagen en blanco y negro esté detrás de la a color */
}

.image-color {
    z-index: 2; /* Asegura que la imagen a color esté encima de la en blanco y negro, inicialmente oculta */
    opacity: 0;
}
.texto-contenido {
    position: relative; /* Posicionamiento relativo para el correcto funcionamiento del degradado */
    text-align: center; /* Alineación del texto */
    display: flex; /* Uso de Flexbox para alinear y justificar el contenido */
    flex-direction: column; /* Orientación vertical del Flexbox */
    justify-content: center; /* Centrado del contenido a lo largo del eje principal (vertical) */
    align-items: center; /* Centrado de elementos a lo largo del eje cruzado (horizontal) */
    padding: 20px; /* Espaciado interno para dar espacio alrededor del texto */
    margin: 0 auto; /* Margen automático para centrar el div si es necesario */
    width: 100%; /* Ancho del contenedor de texto para ocupar el espacio disponible */
    max-width: 600px; /* Máximo ancho para mantener el texto legible */
    background: linear-gradient(to top, rgb(255 255 255 / 90%) 0%, rgba(255, 255, 255, 0.7) 50%, rgb(255 255 255 / 75%) 100%); /* Degradado de transparente a blanco y de nuevo a transparente */
    border-radius: 15px; /* Bordes redondeados para suavizar el contenedor */
    z-index: 2; /* Z-index para asegurar que el texto se muestre por encima de otros elementos si es necesario */
    overflow: hidden; /* Oculta cualquier contenido que se extienda fuera de los bordes redondeados */
}


/* Estilos para el anuncio de texto */
.texto-anuncio {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    text-align: center;
    max-width: 600px;
    height: 210px;
    margin: auto;
    padding: 20px;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, top 1s ease-in-out;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
 
    z-index: 3;
    overflow: hidden; /* Importante para mantener el degradado dentro de los bordes */
}




/* Estilos para las decoraciones */
.decoracion-izquierda, .decoracion-derecha {
    flex: 0 0 80px;
    position: relative;
    height: 124%;
    width: 130px;
    transition: transform 1s ease-in-out;
    overflow: hidden; /* Previene que el degradado se extienda fuera del contenedor */
}

.decoracion-izquierda::after, .decoracion-derecha::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    mix-blend-mode: screen;
}

/* Estilos para los títulos y texto */
.texto-anuncio h1, .texto-anuncio h2, .texto-anuncio p {
    font-family: 'Lora', serif;
}

.texto-anuncio h1 {
    font-size: 3rem;
    font-weight: bold;
}

.texto-anuncio h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.texto-anuncio p {
    font-size: 1.8rem;
    font-weight: normal;
}

/* Ajustes para dispositivos más pequeños */

@media (max-width: 1200px) {
    .texto-anuncio h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .texto-anuncio h2 {
        font-size: 1.9rem;
        font-weight: bold;
    }

}


@media (max-width: 768px) {

    .texto-anuncio h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .texto-anuncio h2 {
        font-size: 1.9rem;
        font-weight: bold;
    }

    .container {
        height: 50vh;
      
    }
    .texto-anuncio {
        flex-direction: row; /* Cambiado para mejorar la disposición en pantallas más pequeñas */
        width: 96%;
        padding: 0px;
        top:52%
    }
    .image-bw, .image-color {
        height: 40vh; /* Ajuste de altura para pantallas más pequeñas */
    }
    .texto-anuncio h1, .texto-anuncio h2, .texto-anuncio p {
        font-size: reducido según el dispositivo; /* Ajustes específicos más abajo */
    }
    .decoracion-izquierda, .decoracion-derecha {
        flex: 0 0 50px;
        width: 50px;
        height: 50%;
    }
}

@media (max-width: 480px) {
    .texto-anuncio {
        padding: 10px;
    }
    .image-bw, .image-color {
        height: 30vh; /* Ajuste de altura para dispositivos muy pequeños */
    }
    .texto-anuncio h1 {
        font-size: 1.5rem;
    }
    .texto-anuncio h2 {
        font-size: 1.2rem;
    }
    .texto-anuncio p {
        font-size: 1rem;
    }
    .decoracion-izquierda, .decoracion-derecha {
      
        width: 30px;
    }
}
