.container {
    position: relative;
    height: 100vh; /* Altura del viewport */
    width: 100%; /* Ancho completo */
}

.image-bw, .image-color {
    position: absolute;
    top: 10px;
    left: 0;
    width: 98%;
    transform: translateX(2%); /* Centra la imagen horizontalmente */
    height: 100%;
    transition: opacity 0.6s ease-in-out; /* Transición suave de la opacidad */
}

.image-bw {
    z-index: 1; /* Imagen en blanco y negro debajo */
}

.image-color {
    z-index: 2; /* Imagen a color encima */
    opacity: 0; /* Comienza transparente */
}

.nosotros-image {
    position: absolute;
    bottom: 50%; /* Posición inicial en el centro */
    left: 50%;
    transform: translate(-50%, 50%) scale(1.5); /* Comienza más grande y centrada */
    z-index: 3; /* Por encima de las otras imágenes */
    transition: transform 0.8s ease-in-out, bottom 0.8s ease-in-out, opacity 0.8s ease-in-out; /* Suaviza la transición */
    opacity: 0; /* Comienza transparente */
    width: 500px; /* Ancho fijo */
    height: 550px; /* Altura fija */
    margin-bottom: 50px; /* Negativo para subirla hacia arriba */
}

/* Ajustes para dispositivos más pequeños */
@media (max-width: 768px) {
    .nosotros-image {
        width: 300px; /* Ancho más pequeño */
        height: 330px; /* Altura ajustada para mantener la proporción */
        transform: translate(-50%, 50%) scale(1); /* Escala ajustada */
    }
    .container {
        position: relative;
        height: 40vh; /* Altura del viewport */
        width: 100%; /* Ancho completo */
    }
}

@media (max-width: 480px) {
    .nosotros-image {
        width: 200px; /* Ancho aún más pequeño */
        height: 220px; /* Altura ajustada para mantener la proporción */
        transform: translate(-50%, 50%) scale(0.75); /* Escala aún más pequeña */
    }
}
