.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background-image: url('/fondo.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
}

.container::before, .container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100px; /* Controla el área difuminada */
  pointer-events: none; /* Evita interferencias con la interactividad */
}

.container::before {
  top: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.container::after {
  bottom: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.title1 {
  font-size: 2.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
  text-align: center;
  border-radius: 10px;
  width: 40%;
  margin-bottom: 9px;
  font-weight: 700;
  margin-top: 80px;
}

.title2 {
  font-size: 2.7rem;
  color: #000;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold; /* Negrita */
}

.title3 {
  font-size: 2.6rem;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold; /* Negrita */
}

.busTimelineContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.stop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  margin-bottom: 25px;
  width: 30%; /* Tres columnas en escritorio */
}

@media (max-width: 1024px) {
  .busTimelineContainer {
    flex-direction: column;
    align-items: center;
  }

  .stop {
    width: 100%; /* Se convierte en una columna al reducir el ancho */
    margin-bottom: 20px;
  }
}

.stopInfo {
  text-align: center;
  margin-bottom: 10px;
}

.stopName, .stopTime {
  font-size: 1.2rem;
}

.mapLink {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 8px;
  background-color: #A89D12;
  margin-top: 15px;
  text-align: center;
  width: auto;
  display: inline-block;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mapLink:hover {
  background-color: #b98c1e;
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.arrow {
  font-size: 2rem;
  color: #007bff;
  margin: 20px;
}

@media (max-width: 768px) {
  .busTimelineContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .title1 {
    width: 80%;
  }

  .title2 {
    font-size: 1.7rem;
    color: #000;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold; /* Negrita */
  }
  
  .title3 {
    font-size: 2.5rem;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold; /* Negrita */
  }

  .stop {
    width: 100%; /* Una columna en dispositivos móviles */
    margin-bottom: 20px;
  }
}