/* .invitationSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(/fondo-largo.png);
    background-size: cover;
    background-position: center;

} */