/* Estilos generales de la página */
.page {
  background-color: #f9f9f9;
  color: #333;
  font-family: 'Georgia', serif;
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Estilos del encabezado */
.heading {
  text-align: center;
  color: #6d6875;
  margin-bottom: 40px;
  font-size: 30px;
}

/* Estilos del formulario principal */
.form {
  display: flex;
  flex-direction: column;
}

/* Estilos de las etiquetas de los campos */
.label {
  margin-bottom: 10px;
  font-size: 18px;
  color: #4a4e69;
}

/* Estilos de los campos de entrada y selectores */
.input, .select {
  padding: 12px 15px;
  margin-bottom: 25px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 17px;
  background-color: #fff;
}

/* Contenedor de los botones */
.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Estilos de los botones */
.button {
  flex: 1;
  margin: 5px;
  background-color: #4a4e69;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

/* Estilos de los botones al pasar el cursor */
.button:hover {
  background-color: #373a40;
}

/* Secciones de casillas de verificación y selectores */
.checkbox-section, .select-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Estilos para selectores y campos de entrada en secciones */
.select-section > select, .select-section > input {
  margin-top: 10px;
}

/* Texto en negrita */
.boldText {
  font-weight: bold;
}

/* Mensaje en verde */
.greenMessage {
  color: #2f855a;
  text-align: center;
  font-size: 18px;
}

/* Estilos para las secciones de detalle de los niños */
.children-details, .child-detail {
  margin-top: 10px;
}

/* Botón para agregar hijo */
.add-child-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos para las columnas del formulario */
.form-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Estilo para las columnas del formulario */
.form-column {
  flex: 1;
  margin-right: 20px;
}

/* Botón para agregar */
.add-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

/* Estilos para el botón "Agregar" al pasar el cursor */
.add-button:hover {
  background-color: darkgreen;
}

/* Botón para eliminar */
.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

/* Estilos para el botón "Eliminar" al pasar el cursor */
.remove-button:hover {
  background-color: darkred;
}

/* Detalles de los niños */
.child-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

/* Alineación de elementos en los detalles de los niños */
.child-detail > * {
  flex-grow: 1;
  margin: 5px;
}

/* Espaciado entre el label y el input */
.label {
  margin-right: 10px;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  /* Alineación de elementos en los detalles de los niños en dispositivos móviles */
  .child-detail {
    flex-direction: column;
  }

  /* Ancho completo para los elementos en detalles de los niños en dispositivos móviles */
  .child-detail > * {
    width: 100%;
    margin: 5px 0;
  }

  /* Alineación horizontal de botones en dispositivos móviles */
  .button-container {
    flex-direction: row;
  }

  /* Ancho de botones en dispositivos móviles */
  .button {
    width: calc(50% - 10px);
  }

  /* Alineación de elementos en secciones en dispositivos móviles */
  .form-section {
    flex-direction: column;
  }

  /* Eliminar margen derecho en columnas en dispositivos móviles */
  .form-column {
    margin-right: 0;
  }

  /* Estilos generales de la página en dispositivos móviles */
  .page {
    padding: 20px;
    margin: 20px;
  }

  /* Tamaño de encabezado en dispositivos móviles */
  .heading {
    font-size: 26px;
  }

  /* Tamaño de fuente en etiquetas, campos de entrada, selectores y botones en dispositivos móviles */
  .label, .input, .select, .button {
    font-size: 16px;
  }

  /* Alineación de elementos en secciones, casillas de verificación y selectores en dispositivos móviles */
  .form-section, .checkbox-section, .select-section {
    align-items: flex-start;
  }

  /* Alineación de texto a la izquierda en dispositivos móviles */
  .form-column, .label, .input, .select, .button {
    text-align: left;
    width: 100%;
  }
}

/* Estilos responsivos para dispositivos más pequeños (menos de 480px de ancho) */
@media (max-width: 480px) {
  /* Alineación de elementos en secciones en dispositivos más pequeños */
  .form-section, .checkbox-section, .select-section {
    flex-direction: column;
  }

  /* Tamaño de fuente más pequeño en dispositivos más pequeños */
  .input, .select, .button {
    font-size: 14px;
  }

  /* Tamaño de encabezado más pequeño en dispositivos más pequeños */
  .heading {
    font-size: 24px;
  }

  /* Ancho completo de columnas en dispositivos más pequeños */
  .form-column {
    width: 100%;
    margin-bottom: 15px;
  }

  /* Aumento de relleno y tamaño de fuente en botones en dispositivos más pequeños */
  .add-child-button, .add-button, .remove-button {
    padding: 10px;
    font-size: 16px;
  }
}
