/* styles.css */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.heading {
  color: #444;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.checkbox-section {
  margin: 10px 0;
}

.label {
  display: block;
  margin-bottom: 5px;
   margin-left: 10px;
    /* Ajusta el valor según tus necesidades */
    font-size: 16px;
    font-weight: bold;
    color: #444;
}
.label-text {
    margin-left: 10px;
  /* Ajusta el valor según tus necesidades */
}

.button {
  
  background-color: #68c7d0;
  


  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* espacio entre button */
    margin-top: 10px;
   
    margin-left: 10px;
}

.greenMessage {
  color: green;
}

.boldText {
/* quitar estilos */
  font-weight: bold;
}

