.page {
  background: linear-gradient(135deg, #ffedb8 0%, #ffeab8 100%); /* Degradado sutil para el fondo */
  color: #333;
  font-family: 'Lato', sans-serif;
  max-width: 1000px;
  margin: 0px auto; /* Agrega algo de margen superior e inferior */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #f0e9d2; /* Borde sutil que complementa el fondo */
  position: relative;
  z-index: 23;
  
  /* Añadiendo un pseudo-elemento para un efecto de borde más elaborado */
  position: relative;
 
}

.page::before {
  content: '';
  position: absolute;
  top: -2px; right: -2px; bottom: -2px; left: -2px; /* Cubre completamente el contenedor */
  z-index: -1; /* Se asegura de que el efecto esté detrás del contenido */
  background: linear-gradient(135deg, #fdebb8 0%, #f0e9d2 100%);
  border-radius: 11px; /* Un poco más grande que el border-radius del contenedor para que se vea desde dentro */
  padding: 1px; /* Crea un efecto de borde interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada para dar más profundidad */
  
}


/* Estilos del encabezado */
.heading {
  font-family: 'Playfair Display', serif; 
  text-align: center;
  color: #6D6875;
  margin-bottom: 15px;
  font-size: 30px;
  z-index: 23;
  padding-bottom: 28px;
}
.headingh3 {
  text-align: center;
  color: #6d6875;
  margin-bottom: 40px;
  font-size: 20px;
}

/* Estilos del formulario principal */
.form {
  display: flex;
  flex-direction: column;
}

/* Estilos de las etiquetas de los campos */
.label {
  margin-bottom: 10px;
  font-size: 18px;
  color: #4a4e69;
  font-weight: bold;
  padding: 6px;
}

.label input[type="checkbox"] + text::before {
  content: ""; /* Necesario para que el pseudo-elemento funcione */
  display: inline-block; /* Hace que el espacio se pueda ajustar */
  width: 8px; /* Este es el espacio que quieres agregar */
}


/* Estilos de los campos de entrada y selectores */
.input, .select {
  padding: 12px 15px;
  margin-bottom: 25px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 17px;
  background-color: #fff;
}

/* Contenedor de los botones */
.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Estilos de los botones */
.button {
  background-color: #000000; /* Fondo blanco para un look fresco y limpio */
  color: #FFFFFF; /* Un color de texto que ofrezca contraste sin ser demasiado agresivo */
  padding: 10px 25px; /* Ajustamos el relleno para que el botón sea fácil de interactuar */
  font-size: 18px; /* Un tamaño de fuente que asegure legibilidad y elegancia */
  font-weight: 600; /* Fuente seminegrita para destacar el texto sin sobrecargar */
  border: 1px solid #4A4E69; /* Un borde sutil que armoniza con el color del texto */
  border-radius: 8px; /* Bordes altamente redondeados para un aspecto moderno y suave */
  cursor: pointer;
  transition: all 0.3s ease; /* Transición suave para todos los cambios de estilo */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); /* Sombra ligera para añadir profundidad */
}

.button:hover {
  background-color: #4A4E69; /* Color principal al pasar el cursor */
  color: #FFFFFF; /* Texto en blanco para el efecto de inversión y facilidad de lectura */
  border-color: #4A4E69; /* El borde cambia para mantener la cohesión del diseño */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra más prominente para un efecto elevado */
}


/* Secciones de casillas de verificación y selectores */
.checkbox-section, .select-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Estilos para selectores y campos de entrada en secciones */
.select-section > select, .select-section > input {
  margin-top: 10px;
}

/* Texto en negrita */
.boldText {
  font-weight: bold;
}

/* Mensaje en verde */
.greenMessage {
  color: #2f855a;
  text-align: center;
  font-size: 18px;
}

/* Estilos para las secciones de detalle de los niños */

.child-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #fff; /* Fondo blanco para cada detalle de hijo */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para resaltar */
  padding: 15px; /* Espacio interior para separar el contenido de los bordes */
  margin-bottom: 20px; /* Espacio entre cada detalle de hijo */
}

.child-detail > * {
  flex: 1 1 45%; /* Cada elemento ocupa aproximadamente la mitad del ancho */
  margin: 5px;
}


.children-details, .child-detail {
  margin-top: 10px;
}

/* Botón para agregar hijo */
.add-child-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos adicionales para la sección de detalle de los niños */
.child-detail {
  background-color: #fff; /* Fondo blanco para cada detalle de hijo */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para resaltar */
  padding: 15px; /* Espacio interior para separar el contenido de los bordes */
  margin-bottom: 20px; /* Espacio entre cada detalle de hijo */
}

/* Estilos para la etiqueta y el input dentro de los detalles del hijo */
.child-detail .label, .child-detail .input {
  display: block; /* Hace que la etiqueta y el input ocupen toda la línea */
  width: 100%; /* Ancho completo dentro del detalle del hijo */
  margin-bottom: 10px; /* Espacio después de cada etiqueta e input */
}

/* Botones para agregar y eliminar dentro de los detalles del hijo */
.child-detail .add-button, .child-detail .remove-button {
  width: auto; /* Ancho automático para adaptarse al contenido del botón */
  padding: 5px 10px; /* Relleno más pequeño para los botones */
}


/* Estilos para las columnas del formulario */
.form-section {
  display: flex;
  flex-wrap: wrap; /* Asegura la adaptabilidad en pantallas pequeñas */
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Estilo para las columnas del formulario */
.form-column {
  flex: 1;
  margin-right: 20px;
  margin-right: 20px;
}

/* Botón para agregar */
.add-button {
  background-color: #4CAF50; /* Un verde más vibrante y moderno */
  color: white;
  border: none;
  padding: 10px 15px; /* Aumentamos el relleno para un mejor manejo y vista */
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold; /* Texto en negrita para darle más presencia */
  border-radius: 5px; /* Esquinas redondeadas para un look más moderno */
  transition: background-color 0.3s, box-shadow 0.2s, transform 0.1s; /* Transiciones suaves para interactividad */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera para profundidad */
}

.add-button:hover {
  background-color: #367B48; /* Un verde oscuro para el hover, manteniendo la paleta de colores */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada en hover para efecto de elevación */
  transform: translateY(-2px); /* Pequeña elevación al pasar el cursor para sensación de "click" */
}

/* Botón para eliminar */
.remove-button {
  background-color: #E57373; /* Un rojo más suave y elegante */
  color: white;
  border: none;
  padding: 10px 15px; /* Un poco más de relleno para una mejor apariencia y sensación al tacto */
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold; /* Hace que el texto destaque un poco más */
  border-radius: 5px; /* Esquinas redondeadas para un diseño más moderno y suave */
  transition: background-color 0.3s, box-shadow 0.2s, transform 0.1s; /* Suaviza las transiciones para una mejor experiencia de usuario */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Añade una sombra ligera para profundidad */
}

.remove-button:hover {
  background-color: #D32F2F; /* Un tono de rojo oscuro más elegante para cuando se pasa el cursor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada para efecto de elevación */
  transform: translateY(-2px); /* Una ligera elevación para indicar la acción de manera intuitiva */
}
/* Detalles de los niños */
.child-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

/* texto en negrita menus */
.label-tipo-menu, 
.label-tipo-menu-especial {
  font-weight: bold; /* Aplica negrita */
}

/* Alineación de elementos en los detalles de los niños */
.child-detail > * {
  flex-grow: 1;
  margin: 5px;
}




/* Estilos para la sección de resumen de menús */
.menu-summary {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.menu-summary h2 {

  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
 
  color: #4a4e69;
}

.menu-summary h3 {

  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: #4a4e69;
  /* en  negrita */
  font-weight: bold;
}

.menu-summary p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.menu-summary p:last-child {
  margin-bottom: 0;
}





/* Estilos para la sección de Opciones de Transporte */
.transport-section {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.transport-section h3 {
  color: #6d6875;
  font-size: 24px;
  margin-bottom: 15px;
}

.transport-section p {
  font-size: 16px;
  color: #4a4e69;
  margin-bottom: 15px;
}

.transport-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.transport-option input[type="radio"] {
  margin-right: 10px;
}

.transport-option label {
  margin: 0;
  font-size: 16px;
  color: #333;
}



/* texto de despues de mandar formularios */
.greenMessage {
  color: green; /* Ejemplo, ajusta el color según tus preferencias */
  text-align: center; /* Centrar el texto */
  font-size: 1.2em; /* Tamaño del texto, ajusta según necesites */
  /* Agrega aquí otros estilos que necesites para el mensaje */

}

/* Estilo para hacer que el nombre aparezca en negrita */
.bold {
  font-weight: bold;
}


.backButton{
 
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    top: -24px;
    right: 20px;
    position: absolute;
}
  



.form-scroll-container {
  max-height: 80vh; /* Ajusta la altura máxima del contenedor */
  overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura máxima */
  padding: 20px; /* Espaciado interno para el contenedor */
}

.button-confirm {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-size: 25px;

}
/* hover */
.button-confirm:hover {
  background-color: #DAA520;
  color: #000000;

}


/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  /* Alineación de elementos en los detalles de los niños en dispositivos móviles */



  .form-section, .checkbox-section, .select-section, .button-container {
    flex-direction: column;
  }
  .child-detail {
    flex-direction: column;
  }

  /* Ancho completo para los elementos en detalles de los niños en dispositivos móviles */
  .child-detail > * {
    width: 100%;
    margin: 5px 0;
  }

  /* Alineación horizontal de botones en dispositivos móviles */
  .button-container {
    flex-direction: column; /* Apila los botones verticalmente */
  }

  .button {
    width: 100%; /* Botones de ancho completo */
  }

  .form-section {
    flex-direction: column;
  }

  .form-column {
    width: 100%; /* Columnas de ancho completo */
    margin-right: 0;
  }

  .input, .select {
    font-size: 16px; /* Tamaño de fuente más grande para facilitar la lectura */
  }

  .menu-summary p {
    font-size: 14px; /* Tamaño de fuente más pequeño para resumenes */
  }

  .child-detail {
    padding: 10px; /* Relleno más pequeño para pantallas más pequeñas */
  }

  .child-detail > * {
    flex-basis: 100%; /* En pantallas pequeñas, cada elemento ocupa el 100% */
  }


}











/* Estilos responsivos para dispositivos más pequeños (menos de 480px de ancho) */
@media (max-width: 480px) {
  /* Alineación de elementos en secciones en dispositivos más pequeños */
  .form-section, .checkbox-section, .select-section {
    flex-direction: column;
  }

  /* Tamaño de fuente más pequeño en dispositivos más pequeños */
  .input, .select, .button {
    font-size: 14px;
  }

  /* Tamaño de encabezado más pequeño en dispositivos más pequeños */
  .heading {
    font-size: 24px;
  }

  /* Ancho completo de columnas en dispositivos más pequeños */
  .form-column {
    width: 100%;
    margin-bottom: 15px;
  }

  /* Aumento de relleno y tamaño de fuente en botones en dispositivos más pequeños */
  .add-child-button, .add-button, .remove-button {
    padding: 10px;
    font-size: 16px;
  }

  .transport-section {
    padding: 10px;
  }

  .transport-section h3 {
    font-size: 20px;
  }

  .transport-section p, .transport-option label {
    font-size: 14px;
  }
  
  


}
